.header-container {
  border-bottom: 1px solid #ddd;
  .logo {
    color: #333;
    margin-left: 42px;
    font-size: 18px;
    padding-left: 45px;
    min-height: 34px;
    background-image: url("../../../logo.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
  }
  .nav {
    .nav-ul {
      border-bottom: 1px solid transparent;
      .item,
      .ant-menu-submenu {
        padding: 12px 20px;
      }
    }
  }
  .userHead {
    text-align: right;
    margin-right: 33px;
  }
}
