body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}


@media screen and (max-width: 1000px) {
  .web-root {
    .slider-box {
      display: none;
    }
    .content-box {
      width: 100%;
    }
    .header-container {
      .blogger-title {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 548px) {
  .ant-tag {
    font-size: 15px !important;
  }
  .web-root {
    font-size: 16px !important;
    .header-container {
      .ant-col-5 {
        text-align: center;
        width: 100%;
        .logo {
          margin: 12px 0;
          height: 35px;
          line-height: 35px;
          display: inline-block;
        }
        .blogger-title {
          display: block;
        }
      }
      .ant-col-7 {
        display: none;
      }
      .ant-col-4 {
        width: 59px;
        height: 59px;
        line-height: 59px;
        position: absolute;
        top: 0px;
        right: 0px;
        .userHead {
          text-align: center;
          margin: 0;
          .ant-avatar {
            margin: 0 !important;
            background-color: transparent;
            .anticon {
              color: #777777;
            }
          }
        }
      }
      .ant-col-8 {
        width: 59px;
        height: 59px;
        position: absolute;
        top: 0px;
        left: 0px;
        .ant-menu-horizontal {
          width: 59px;
          height: 59px;
          line-height: 59px;
          .ant-menu-submenu {
            padding: 0;
            border: none !important;
            .anticon-menu {
              color: #777777 !important;
            }
          }
        }
      }
    }
    #main-body {
      height: calc(100vh - 60px) !important;
    }
    .content-box {
      .home-container{
        margin: 0px 16px!important;
      }
      .article-list {
        margin-top: 23px;
        .item {
          padding: 0px 20px 16px;
          .header {
            white-space: pre-wrap;
            overflow: hidden;
            display: block;
            width: 100%;
            min-width: auto;
            height: auto;
            .ant-divider-inner-text {
              display: block;
              .title {
                display: block;
                margin-bottom: 8px;
                font-size: 20px;
              }
            }
          }
        }
      }
      .article-detail-container {
        .comment-area {
          .comment-form {
            .ant-comment-avatar {
              display: none;
            }
          }
        }
      }
    }
    .article-detail-container{
      padding: 34px 18px 0px;
      .title{
        font-size: 21px;
      }
      .ant-divider-horizontal{
         margin:4px 0 34px!important;
      }
    }
    .categories-container {
      margin: 23px 26px 0;
      .ant-tag {
        font-size: 16px !important;
      }
    }
  }
  .ant-menu-submenu-popup {
    width: 100%;
    left: 0px !important;
    top: 59px !important;
    .ant-menu {
      min-width: auto !important;
      width: 100%;
      .ant-menu-item {
        height: 56px;
        line-height: 56px;
        font-size: 16px;
        .anticon {
          font-size: 16px;
        }
      }
    }
  }
}
